@CHARSET "UTF-8";

html, body {
	width:100%;
	height:100%;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:0px;
	font-size:14px;
	padding-top: 50px;
	background:rgba(226,224,209,1);
}
#loginBox {
	padding:25px;
	color:#411F00;
	background:#f1f4d7;
	border:1px solid #000000;
	border-radius:0px 0px 10px 10px;
	width:300px;
	height:300px;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	vertical-align:middle;
	margin:auto;
}
#loginBox div {
	position:relative;
	vertical-align:middle;
	margin:auto;
	left:0px;
	right:0px;
	width:250px;
	text-align:center;
	color:#000;
}
.submitButton {
	background:#C1DC8A;
	color:#411F00;
	border-line:1px;
}
#loginBox img, #loginBox input {
	position:relative;
	vertical-align:middle;
	left:0px;
	right:0px;
	margin:auto;
}
#loginBox input {
	padding:5px;
	font-size:12px;
	font-weight:bolder;
	width:100%;
	height:30px;
	margin:5px 0px 5px -5px;
}